STORAGE_PLATFORM=S3
BUCKET_NAME=playgrounds
AWS_ENDPOINT_URL_S3=garage-s3-endpoint
AWS_S3_ADDRESSING_STYLE="path"
AWS_ACCESS_KEY_ID=garage-access-key
AWS_SECRET_ACCESS_KEY=secret-access-key
AWS_REGION=garage
AWS_USE_TLS=true
HDF5_VOL_CONNECTOR=arraymorph
HDF5_PLUGIN_PATH=path-to-libarraymorph

